.App {
  text-align: center;
}

.tc {
  text-align: center;
  text-align: -webkit-center;
}

.App-logo {
  height: 40vmin;
}

.w-100{
  width: 100%;
}

.fs-14{
  font-size: 14px
}

.tl{
  text-align: left;
}

.view-litters{
  border-top: 2px solid #282c34;
}

.LitterPreview{
  max-width: 80%;
}

.profile-image-container{
  border-radius: 100%;
  background-color: white;
  width: 100px;
  height: 100px;
}

.profile-image-icon{
  width: 50px !important;
  height: 50px !important;
}

.footer{
  font-size: 12px;
}

.heart{
  color: red;
  transition: all 0.25s ease-in;
}

.heart:hover{
  color: #98002e;
  transition: all 0.25s ease-in;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
